include README.md setup.py altrios-py/Cargo.toml altrios-core/Cargo.toml altrios-core/proc-macros/Cargo.toml 
recursive-include altrios-py/src * 
recursive-include altrios-core/src *
recursive-include altrios-core/proc-macros/src *
recursive-include altrios/resources *
